@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #DDE1EAee;
  --color-secondary: #182D4E;
  --color-bg: #EAEBF2;
  --color-text: '#ffffff'; 
  --font-inter: "inter", sans-serif;
  --font-tem: "Inria Serif", sans-serif;
  --font-h1: "Instrument Sans", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
  }
  body {
    box-sizing: border-box;
    overflow-x: hidden;
  }
}